<?xml version="1.0"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="team_side"   default="home" />
    <arg name="my_number"   default="1" />
    <arg name="ally_number" default="2" />

    <!-- using which side of the field we are on, determine the appropriate -->
    <!-- connections to the output of the vision system -->
    <!-- <arg name="other_side" value="away" if="$(eval team_side == 'home')" /> -->
    <!-- <arg name="other_side" value="home" if="$(eval team_side == 'away')" /> -->
    
    <!-- Hardware agnostic code -->
    <node name="ai" pkg="teamrocket" type="ai_node.py" output="screen">
        <param name="my_number" value="$(arg my_number)" />
        <param name="ally_number" value="$(arg ally_number)" />
        <param name="team_side" value="$(arg team_side)" />
        <remap from="me"   to="controller/us$(arg my_number)" />
        <!-- <remap from="ally" to="controller/us$(arg ally_number)" /> -->
        <!-- <remap from="opp1" to="estimator/them1" /> -->
        <!-- <remap from="opp2" to="estimator/them2" /> -->
        <remap from="ball" to="estimator/ball" />
        <remap from="desired_position" to="desired_position/us$(arg my_number)" />
    </node>
    <node name="controller" pkg="teamrocket" type="controller_node.py"
          output="screen">
        <!-- The controller needs to know which vision msg to listen to -->
        <remap from="me" to="orienter/us$(arg my_number)" />
        <!-- The controller is publishing its estimated position using commands -->
        <remap from="estimated_state" to="controller/us$(arg my_number)" />
        <!-- The ai is publishing the desired position -->
        <remap from="desired_position" to="desired_position/us$(arg my_number)" />
        <!-- For simulation, remap the output -->
        <remap from="vel_cmds" to="command/us$(arg my_number)" />
    </node>
    <!-- Serializer -->
    <node name="serializer" pkg="teamrocket" type="serializer_node.py"
        output="screen">
        <!-- The serializer needs to know which vision msg to listen to -->
        <remap from="vel_cmds" to="command/us$(arg my_number)" />
        <remap from="me" to="controller/us$(arg my_number)" />
        <!-- For simulation, remap the output -->
        <!-- <remap from="vel_cmds" -->
        <!--        to="/us$(arg my_number)/command" /> -->
    </node>

</launch>
