<?xml version="1.0"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="team_side" default="away" />

    <!-- using which side of the field we are on, determine the appropriate -->
    <!-- connections to the output of the vision system -->
    <arg name="other_side" value="away" if="$(eval team_side == 'home')" />
    <arg name="other_side" value="home" if="$(eval team_side == 'away')" />
    
    <!-- <group ns="teamrocket_$(arg team_side)"> -->
      <!-- Hardware agnostic code -->
      <!-- <node name="vision" pkg="teamrocket" type="vision_node.py" output="screen"> -->
        <!-- <remap from="camera" to="/usb_cam_$(team_side)/image_raw" /> -->
      <!-- </node> -->
    <!-- </group> -->
    <group ns="teamrocket_$(arg team_side)">
        <node name="vision" pkg="teamrocket" type="vision_node.py" output="screen">
            <remap from="camera" to="/usb_cam_$(arg team_side)/image_raw" />
        </node>
    </group>
    
</launch>
